body{
    background-color:#49e0bb;
    color:#494953;
    font-family:sans-serif;
    width:80%;
    max-width: 1280px;
   
}
header{
    background-color:#494953;
    color: #49e0bb;
}
.summary{
    text-align:center;
    height: 550px;
}
.main{
    line-height:1.5;
}
p{
    text-indent: 1em;
}

h1,h2,h3{
    text-align:center;
    display: inline-block;
}
h1{
    display: inline-block;
    font-size:1.8rem;
    margin-right: 1em;
}
h2{
    font-size:1.4rem;
}
h3{
    font-size:1.2rem;
}
abbr{
    font-variant:small-caps;
}

#design-archives{
    display: none;
}
